<h2 class="text-center">Heroes de DC y Marvel</h2>
<div class="container">
    <div class="card-columns">
        <div class="card" *ngFor="let item of Heroes">
            <img class="card-img-top" src="{{item.img}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{item.nombre}}</h4>
                <p class="card-text">{{item.bio}}</p>
            </div>
            <div class="card-footer">
                <button type="button" mdbBtn color="info" class="btn-block" mdbWavesEffect>Ver más...</button>
            </div>

        </div>
    </div>
</div>