<div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-1">
            <div class="md-form">
                <select class="mdb-select" #selectgrafica (change)="setNewGraficas(selectgrafica.value)">
          <option disabled="disabled" value="">-Gráfica-</option>
          <option *ngFor="let grafica of tiposgraficas" [value]="grafica.tipo">
            {{grafica.descripcion}}
          </option>
        </select>
            </div>
            <app-grafica (cambioValor)="graficas($event)"></app-grafica>

        </div>
        <div class="col-6">
            <div class="card text-white">
                <p class="text-center">Total {{total}}</p>
                <div class="card-body">
                    <div style="display: block">
                        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>