<div class="container">
    <div class="row">
        <div class="col-4 mt-40">
            <h4 class="text-center mt-40">*ngIf</h4>
            <!--Card-->
            <mdb-card *ngIf="mostrar">

                <!--Card image-->
                <div class="view overlay waves-light" mdbWavesEffect>
                    <img src="../../../assets/img/avatars/Christy.jpg">

                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <mdb-card-body>
                    <a class="activator px-3 mr-2">
                        <i class="fas fa-share-alt"></i>
                    </a>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>{{inicio.titulo}}</h4>
                    </mdb-card-title>

                    <hr>

                    <!--Text-->
                    <mdb-card-text>
                        {{inicio.description}}
                    </mdb-card-text>

                    <!-- <a class="link-text">
                        <h5 class="waves-light" mdbWavesEffect>Read more
                            <i class="fas fa-chevron-right waves-light" mdbWavesEffect></i>
                        </h5>
                    </a> -->
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <div class="mt-40">
                <button type="button" mdbBtn color="success" class="btn-block" (click)="mostrar=!mostrar" mdbWavesEffect>Mostrar/Ocultar</button>
            </div>

            <!--/.Card-->
        </div>
        <div class="col-6 offset-2">
            <h4 class="text-center mt-40">*ngFor</h4>
            <ul class="list-group">
                <li *ngFor="let item of personas; let i = index" class="list-group-item">{{i+1}} {{item.nombre}}</li>

            </ul>
        </div>
    </div>
</div>