<h2 class="text-center">Dragon Ball</h2>
<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>
<div class="container">
    <div class="card-columns mt-40">
        <div class="card" *ngFor="let item of dragones |filter: term">
            <div class="card-header header text-center" [ngClass]="item.nivel + '-bg'">
                <p> {{item.nombre | uppercase }} </p>
            </div>
            <img class="card-img-top" src="{{item.img}}" alt="">
            <div class="card-body">
                <!-- <h4 class="card-title">{{item.nombre}}</h4> -->
                <!-- <p class="card-text">{{item.description}}</p> -->
            </div>
            <div class="card-footer">
                <button type="button" mdbBtn color="info" (click)="Information(item,basicModal)" class="btn-block" mdbWavesEffect>Ver más...</button>
            </div>
        </div>
    </div>
</div>

<!-- inicio modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
                <h4 class="modal-title w-100" id="myModalLabel">{{model.nombre}}</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <img class="card-img-top" src="{{model.img}}" alt="">
                    <div class="card-body">
                        <p class="card-text">{{model.description}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">{{model.aparicion}}</p>
                        <p class="card-text">{{model.nivel}}</p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- fin de modal -->