.header {
    &.cero-bg {
        background: rgba(3, 169, 244, 0.7);
    }
    &.uno-bg {
        background: rgba(248, 235, 58, 0.973);
    }
    &.dos-bg {
        background: rgba(245, 97, 12, 0.7);
    }
    &.tres-bg {
        background: rgba(110, 243, 70, 0.7);
    }
    &.cuatro-bg {
        background: rgba(244, 67, 54, 0.7);
    }
}