<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLink]="['inicio']" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect>Inicio</a>
            </li>
            <li class="nav-item dropdown" dropdown routerLinkActive="active">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Cards<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" [routerLink]="['heroes']" routerLinkActive="active" mdbWavesEffect>Heroes</a>
                    <a class="dropdown-item waves-light" [routerLink]="['dragon-ball']" routerLinkActive="active" mdbWavesEffect>Dragon Ball</a>
                </div>
            </li>
            <li class="nav-item" [routerLink]="['graficas']" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect>Graficas</a>
            </li>
            <li class="nav-item" [routerLink]="['miscelaneas']" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect>Miscelaneas</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Basic dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect>Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect>Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect>Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect>Separated link</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->