p {
    color: blue;
}

table {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.azul {
    color: blue;
}

.rojo {
    color: red;
}