<div class="container main-container">
    <!-- <h2 class="text-center"> Miscelaneas</h2>
    <p [ngStyle]="{'font-size': size + 'px'}">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <button (click)="size = size +5" class="btn btn-info"><i class="fas fa-plus"></i></button>
    <button (click)="size = size -5" class="btn btn-info"><i class="fas fa-minus"></i></button> -->

    <h3 class="text-center">Tabla de notas</h3>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Nota 4</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of listaAlumnos">
                <th scope="row">1</th>
                <td> {{item.nombre}} </td>
                <td class="azul" [ngClass]="{'rojo': item.nota1<14}"> {{item.nota1}} </td>
                <td class="azul" [ngClass]="{'rojo': item.nota2<14}"> {{item.nota2}} </td>
                <td class="azul" [ngClass]="{'rojo': item.nota3<14}"> {{item.nota3}} </td>
                <td class="azul" [ngClass]="{'rojo': item.nota4<14}"> {{item.nota4}} </td>
            </tr>
        </tbody>
    </table>

    <hr>
    <hr>
    <h3>proceso asincrono</h3>
    <button (click)="ejecutar()" type="button" class="btn btn-primary">
    <i [ngClass]="{'fa-save': !loading, 'fa-sync fa-spin':loading}"
        class="fas"></i> Guardar</button>
</div>

<!-- <p>Hola desde Miscelaneas</p>
<app-css></app-css> -->